################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MergeExcel/bin/Debug
/MergeExcel/obj/Debug
/packages
/.vs/MergeExcel/v15
